@font-face {
  font-family: 'Cynatar';
  src: local('Cynatar'), url('./fonts/Cynatar.otf') format('truetype');
}

@font-face {
  font-family: 'LEDLIGHT';
  src: local('LEDLIGHT'), url('./fonts/LEDLIGHT.otf') format('truetype');
}
